<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCredits</key>
	<string>ourglass Not Done icon by Icons8: https://icons8.com/icon/A90XZgNDIsOE/hourglass-not-done</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string>water_fall</string>
	</dict>
</dict>
</plist>
